<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
		<th:block th:include="fragments/meta" />	
	    <th:block th:include="fragments/css" />
		<th:block th:include="fragments/shim" />
		<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
	    
	    <title>Login Page</title>	
	</head>
   <body>
      <h1>Please enter your credentials</h1>
      
      <div class="container">
	     <!--  <h1>
				<span>Create a Person:</span>
		  </h1> -->
       
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}   
         
         authenticate      
         -->
          
      <form th:action="@{/}" th:object="${loginForm}" method="POST" class="form-horizontal">
      
	      <div class="form-group">
			<label for="userId" class="col-sm-2 control-label">User Id</label>
 			<div class="col-sm-5">
				<input type="text" th:field="*{userId}" placeholder="User Id" class="form-control" autofocus="autofocus"></input>				
			</div>
		  </div>
		  <div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-5">
				<input type="text" th:field="*{password}" placeholder="Password" class="form-control"></input>				
			</div>
		  </div>
		       
         <div class="form-group">            
            <div class="col-sm-offset-2 col-sm-5">
				 <button type="submit" class="btn btn-info">
					<span class="glyphicon glyphicon-ok"></span> Log In
				 </button>
			 </div>
		 </div>
			
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="#{login.error.message}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
      </div>
       
   </body>
</html>